* {
    margin: 0;
    padding: 0;
    /* background-color: black;
    color: white; */
    font-family: 'Roboto', sans-serif;
}

.left {
    width: 25vw;
    padding: 20px;
    line-height:35px;
}

.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.logo img {
    width: 110px;
    height: 45px;
}

.icons i {
    margin-top: 9px;
}

.heading {
    width: 165px;
    list-style: none;
    display: flex;
    gap: 13px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 9.5px;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    text-decoration-line: underline;
}

.right {
    width: 75vw;
    margin: 25px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > * {
    padding: 20px;
}