* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.left {
    width: 25vw;
    padding: 20px;
    line-height:35px;
}

.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.home ul li:nth-child(2) {
    color: grey;
}

.home ul li:nth-child(2):hover {
    color: white;
    cursor: pointer;
}

.logo img {
    width: 110px;
    height: 45px;
}

.icons i {
    margin-top: 9px;
}

.heading {
    width: 310px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 13px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading i {
    color: grey;
}

.heading i:hover {
    color: white;
    cursor: pointer;
}

.heading h3 {
    position: relative;
    left: -75px;
    color: grey;
}

.heading h3:hover {
    color: white;
    cursor: pointer;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 9.5px;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    text-decoration-line: underline;
    padding: 5px 0;
}

.right {
    width: 75vw;
    margin: 25px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
}

.header > * {
    padding: 20px;
}

.nav > i {
    width: 30px;
    height: 20px;
    color: rgb(156, 152, 152);
    margin-top: 10px;
    margin-left: 10px;
}

.buttons {
    width: 220px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.buttons>button:nth-child(1) {
    background-color: transparent;
    color: rgb(156, 152, 152);
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    border: none;
}

.buttons>button:nth-child(2) {
    background-color: transparent;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 18px 30px;
    border-radius: 30px;
}

.buttons>button:nth-child(1):hover {
    color: white;
}

.buttons>button:nth-child(2):hover {
    font-weight: 700;
    background-color: rgb(247, 242, 242);
}

.spotifyplaylists {
    padding: 16px;
}

.spotifyplaylists h2:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.cardcontainer {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    margin: 25px;
    position: relative;
}

.play {
    width: 28px;
    height: 20px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: 140px; */
    top: 140px;
    opacity: 1;
    right: 25px;
    transition: all 0.5s ease-out;
}

.play i {
    border-radius: 50%;
    padding-bottom: 4px;
    padding-left: 3px;
    color: black;
}

.card {
    width: 160px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #181818;
    position: relative;
    cursor: pointer;
}

.card:hover {
    scale: 1.02;
    transition: all 0.5s ease-out;
    background-color: #252525;
}

.card p {
    font-size: 12.5px;
    color: grey;
    font-weight: 600;
    line-height: 18px;
}

.card > * {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.songbuttons {
    justify-content: center;
    display: flex;
    gap: 25px;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    display: flex;
    list-style-type: decimal;
}